/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	body {
		font-size: 15px;
	}
	.header__center {
		margin: 0 40px;
		margin-top: auto;
	}
	.menu > li {
		padding: 0 7px;
	}
	.logo-name {
		font-size: 13px;
		line-height: 19px;
	}
	.nav {
		margin-bottom: 20px;
	}
	.logo img {
		max-width: 110px;
	}
	.menu ul {
		right: -195px;
	}
	.bottom-billbord {
		padding: 0 18px;
	}
	.billbord-block {
		padding: 30px;
		padding-bottom: 135px;
	}
	.btn-main {
		font-size: 16px;
	}
	.descr-page {
		font-size: 18px;
		line-height: 28px;
	}
	.item-billbord__head {
		font-size: 14px;
	}
	.item-category {
		font-size: 16px;
	}
	.advantages .descr-page {
		margin-top: 20px;
		margin-bottom: 30px;
		max-width: 1103px;
	}
	.title-block {
		font-size: 18px;
		line-height: 28px;
	}
	.item-partner {
		height: 165px;
	}
	.image-consultation img {
		max-width: 600px;
	}
	.phones-big {
		font-size: 28px;
		line-height: 41px;
		margin: 10px 0;
	}
	.consultation .form-block {
		padding: 30px;
		padding-right: 290px;
		margin-top: 25px;
	}
	.consultation .descr-page {
		max-width: 680px;
	}
	.location-main {
		font-size: 13px;
		margin-top: 19px;
	}
	.footer__nav {
		font-size: 13px;
		line-height: 19px;
	}
	.phone-main {
		font-size: 14px;
	}
	.footer .social-page li {
		margin-left: 10px;
	}
	.footer__title {
		margin-bottom: 9px;
	}
	.footer-bottom {
		font-size: 13px;
	}
	.title-big {
		font-size: 40px;
		line-height: 56px;
	}
	.text-block .title-block {
		margin-bottom: 20px;
	}
	.text-block p {
		margin-bottom: 15px;
	}
	.wrapper {
		padding-top: 142px;
	}
	.item-news__title {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.item-news__content {
		padding: 13px;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.item-news__image {
		height: 165px;
	}
	.item-news .link-block {
		margin-top: 30px;
	}
	.article__left h3 {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 30px;
	}
	.article__left h2 {
		font-size: 20px;
		line-height: 29px;
	}
	.article__left ul li::before {
		top: 3px;
	}
	.article__left img {
		margin-bottom: 30px;
	}
	.block-form .title-form {
		font-size: 25px;
	}
	.about-page p {
		margin-bottom: 20px;
	}
	.image-right {
		margin-left: 20px;
		max-width: 49%;
	}
	.tabs a {
		font-size: 17px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.title-small {
		font-size: 25px;
		line-height: 37px;
	}
	.title-middle {
		font-size: 28px;
		line-height: 38px;
	}
	.title-about {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 25px;
	}
	.card-about__title {
		font-size: 23px;
		line-height: 36px;
	}
	.card-about {
		padding: 20px;
	}
	.card-about__descr {
		font-size: 16px;
	}
	.item-dropdown__title {
		font-size: 24px;
		line-height: 37px;
	}
	#tab5 .card-about__title {
		font-size: 21px;
		line-height: 32px;
	}
	.program-course li, .about-course li {
		padding-left: 30px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 28px;
	}
	.subtitle-section {
		font-size: 24px;
		line-height: 36px;
	}
	.advantages {
		padding-bottom: 30px;
	}
	.thanks {
		padding-top: 80px;
		padding-bottom: 150px;
	}
	.thanks .title-big {
		padding-bottom: 25px;
	}
	.thanks .descr-big {
		margin-bottom: 40px;
	}
}
@media only screen and (max-width : 1400px) {
	body {
		font-size: 14px;
		line-height: 24px;
	}
	.logo-name {
		font-size: 12px;
		line-height: 18px;
		max-width: 168px;
		margin-left: 15px;
	}
	.logo-descr {
		font-size: 11px;
		line-height: 16px;
		max-width: 230px;
	}
	.header__center {
		margin: 0 20px;
	}
	.nav {
		font-size: 13px;
		margin-bottom: 15px;
	}
	.phone-main {
		font-size: 13px;
	}
	.logo img {
		max-width: 99px;
	}
	.title-big {
		font-size: 36px;
		line-height: 48px;
	}
	.descr-page {
		font-size: 16px;
		line-height: 26px;
	}
	.billbord-block .descr-page {
		margin-bottom: 30px;
		max-width: 475px;
	}
	.bottom-billbord {
		padding: 0 15px;
		padding-right: 20px;
	}
	.item-billbord {
		padding: 15px;
	}
	.item-billbord__head {
		font-size: 13px;
		line-height: 19px;
	}
	.head-section {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.form-block .btn-main {
		padding: 0 35px;
	}
	.form-block {
		padding: 35px;
		padding-top: 21px;
	}
	.title-section {
		font-size: 32px;
		line-height: 40px;
	}
	.advantages .descr-page {
		max-width: 980px;
	}
	.title-min {
		font-size: 16px;
	}
	.item-advantage {
		padding: 18px 20px;
		padding-right: 25px;
		padding-bottom: 23px;
		font-size: 13px;
		line-height: 21px;
	}
	.block-document__image img {
		width: 564px;
		height: 414px;
	}
	.block-document {
		padding: 24px 24px;
		font-size: 13px;
		line-height: 20px;
		min-height: calc(100% - 25px);
		max-width: 287px;
	}
	.block-document__image {
		margin-top: -15px;
	}
	.slider-images__image {
		height: 385px;
	}
	.text-block {
		max-height: 370px;
	}
	.phones-big {
		font-size: 24px;
		line-height: 35px;
	}
	.consultation .descr-page {
		max-width: 600px;
	}
	.image-consultation img {
		max-width: 566px;
	}
	.footer-bottom {
		font-size: 12px;
		padding: 10px 0;
	}
	.wrapper {
		padding-top: 134px;
	}
	.item-dropdown__title {
		font-size: 23px;
		line-height: 37px;
	}
	.item-dropdown__head {
		height: 160px;
	}
	.item-dropdown {
		margin-bottom: 35px;
	}
	.article time {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.article__left p,
	.article__left ul li {
		margin-bottom: 15px;
	}
	.article-block {
		padding: 25px;
		padding-bottom: 40px;
	}
	.item-blog__title {
		font-size: 19px;
		line-height: 29px;
		margin-bottom: 25px;
	}
	.block-form .title-form {
		font-size: 22px;
	}
	.block-form .descr-form {
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 22px;
	}
	.course-direction .title-section {
		padding-bottom: 35px;
	}
	.about-page .title-section {
		padding-bottom: 30px;
	}
	.tabs a {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 25px;
	}
	.about-page p {
		margin-bottom: 15px;
	}
	.about-page {
		padding-bottom: 60px;
	}
	.title-about {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 22px;
	}
	.card-about__title {
		font-size: 21px;
		line-height: 32px;
	}
	.row_cards {
		margin: 0 -7px;
	}
	.row_cards > div {
		padding: 0 7px;
		margin-bottom: 20px;
	}
	#tab5 .card-about__title {
		font-size: 19px;
		line-height: 29px;
	}
	.text-about ul {
		margin-bottom: 15px;
	}
	.program-course,
	.about-course {
		padding: 70px 0;
	}
	.about-course .link-block {
		font-size: 24px;
	}
	.program-course li, .about-course li {
		padding-left: 25px;
		margin-bottom: 18px;
		font-size: 16px;
		line-height: 25px;
	}
	.subtitle-section {
		font-size: 22px;
		line-height: 35px;
	}
	.result-course .subtitle-section {
		margin-bottom: 35px;
	}
	.result-course .title-section {
		margin-bottom: 30px;
	}
	.result-course__left .title-min {
		margin-bottom: 45px;
	}
	.result-course .block-document__image img {
		width: 543px;
		height: 352px;
	}
	.program-course .descr-big {
		margin-bottom: 20px;
	}
	.program-course .title-form {
		margin-bottom: 25px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.title-big {
		font-size: 28px;
		line-height: 38px;
		padding-bottom: 11px;
	}
	.descr-page {
		font-size: 15px;
		line-height: 25px;
	} 
	.billbord-block {
		padding-bottom: 110px;
	}
	.billbord {
		padding-top: 20px;
	}
	.image-billbord img {
		max-width: 400px;
	}
	.logo-name {
		font-size: 11px;
		line-height: 17px;
		max-width: 153px;
		margin-left: 9px;
	}
	.logo img {
		max-width: 83px;
	}
	.menu > li > a {
		font-size: 12px;
	}
	.menu__haschild > a::after {
		font-size: 10px;
	}
	.contacts-wrap .btn-call {
		margin-right: 7px;
	}
	.link-page {
		font-size: 13px;
	}
	.contacts-wrap .social-page {
		margin-top: -4px;
	}
	.item-category {
		font-size: 14px;
		padding: 15px;
	}
	.item-category__icon {
		margin-bottom: 10px;
	}
	.item-category_big {
		padding-left: 0;
		padding-right: 0;
	}
	.item-category_big .item-category__title {
		padding: 11px 25px;
	}
	.row_page {
		margin: 0 -7px;
	}
	.row_page > div {
		padding: 0 7px;
	}
	.form-block {
		padding: 20px;
	}
	.title-section {
		font-size: 28px;
		line-height: 32px;
	}
	.form-block .title-section {
		padding-bottom: 25px;
	}
	.categories {
		padding-bottom: 55px;
	}
	.location-main {
		font-size: 12px;
		margin-top: 10px;
	}
	.footer__nav li {
		margin-bottom: 10px;
	}
	.footer__contacts {
		display: block;
	}
	.footer .social-page li {
		margin-left: 0;
		margin-right: 10px;
	}
	.footer .social-page {
		margin-bottom: 10px;
	}
	.image-consultation img {
		max-width: 495px;
	}
	.phones-big {
		font-size: 19px;
		line-height: 22px;
	}
	.phones-big a {
		margin-right: 20px;
	}
	.image-consultation {
		margin-right: -85px;
	}
	.consultation .form-block {
		padding-right: 170px;
		margin-top: 15px;
	}
	.consultation .descr-page {
		max-width: 498px;
		font-size: 14px;
	}
	.consultation .form-block .item-form {
		margin-bottom: 14px;
	}
	.consultation .form-block .checkbox {
		margin-top: 13px;
	}
	.title-block {
		font-size: 15px;
		line-height: 25px;
	}
	.text-block {
		margin-right: 0px;
		padding-right: 15px;
	}
	.row_advantages {
		margin: 0 -7px;
	}
	.row_advantages > div {
		padding: 0 7px;
		margin-bottom: 14px;
	}
	.block-document__image {
		margin-top: 17px;
	}
	.menu ul {
		font-size: 13px;
		line-height: 19px;
		right: -180px;
	}
	.wrapper {
		padding-top: 129px;
	}
	.link-block {
		font-size: 16px;
		line-height: 21px;
	}
	.item-dropdown__title {
		font-size: 21px;
		line-height: 31px;
	}
	.item-dropdown__title br {
		display: none;
	}
	.vacancies {
		padding-bottom: 35px;
	}
	.contacts-block {
		padding: 30px 20px;
	}
	.title-contacts {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.contacts {
		padding-bottom: 70px;
	}
	.row_news {
		margin: 0 -7px;
	}
	.row_news > div {
		padding: 0 7px;
	}
	.item-news {
		margin-top: 20px;
	}
	.news-simple {
		margin-top: 20px;
	}
	.article__left h3,
	.article__left h2 {
		font-size: 18px;
		line-height: 29px;
	}
	.article__left h3 {
		margin-bottom: 20px;
	}
	.article {
		padding-bottom: 60px;
	}
	.item-blog__title {
		font-size: 17px;
		line-height: 26px;
		margin-bottom: 25px;
	}
	.item-blog {
		padding: 25px 15px;
		margin-bottom: 25px;
	}
	.block-form .title-form {
		font-size: 20px;
		line-height: 24px;
	}
	.block-form {
		padding: 30px 15px;
	}
	.block-form .checkbox-wrap .checkbox {
		white-space: normal;
	}
	.block-form .descr-form {
		font-size: 14px;
		line-height: 21px;
	}
	.block-form .descr-form br {
		display: none;
	}
	.distance-learning .item-dropdown {
		margin-bottom: 25px;
	}
	.distance-learning .title-section {
		padding-bottom: 25px;
	}
	.tabs a {
		font-size: 14px;
		line-height: 20px;
	}
	.title-middle {
		font-size: 26px;
		line-height: 35px;
	}
	.about-page .title-small, .about-page .title-middle {
		margin-bottom: 25px;
	}
	.about-page img {
		margin-bottom: 25px;
	}
	.title-small {
		font-size: 22px;
		line-height: 34px;
	}
	.about-block {
		padding: 25px;
	}
	.item-doc {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.card-about__descr {
		margin-bottom: 20px;
		min-height: initial;
	}
	.descr-big {
		font-size: 19px;
		line-height: 31px;
	}
	.price-big {
		font-size: 28px;
		line-height: 46px;
	}
	.block-price__left {
		margin-right: 30px;
	}
	.billbord_page .descr-big {
		padding-bottom: 25px;
	}
	.billbord_page .title-big {
		padding-bottom: 20px;
	}
	.about-course .title-section {
		margin-bottom: 30px;
	}
	.program-course li, .about-course li {
		padding-left: 25px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 22px;
	}
	.result-course .block-document__image {
		margin-top: 35px;
	}
	.block-price .btn-main {
		width: 255px;
	}
	.result-course {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.subtitle-section {
		font-size: 20px;
		line-height: 29px;
	}
	.thanks .descr-big {
		max-width: 382px;
		margin-bottom: 30px;
	}
	.thanks {
		padding-top: 60px;
		padding-bottom: 105px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrap .logo-descr,
	.header__center,
	.header__right {
		display: none;
	}
	.header {
		padding: 10px 0;
	}
	.image-billbord {
		display: none;
	}
	.billbord {
		padding: 20px 0;
	}
	.billbord-block {
		padding: 20px;
		margin-right: 0;
		border-radius: 20px;
	}
	.title-big {
		font-size: 20px;
		line-height: 31px;
		padding-bottom: 11px;
	}
	.descr-page {
		font-size: 14px;
		line-height: 22px;
	}
	.item-billbord {
		position: absolute;
		top: 0;
		left: 0;
		margin-right: 0;
	}
	.item-billbord.active {
		z-index: 2;
	}
	.bottom-billbord .row > div {
		min-height: 60px;
	}
	.bottom-billbord {
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
	}
	.billbord-block .descr-page {
		margin-bottom: 15px;
	}
	.head-section {
		display: block;
	}
	.head-section .link-main {
		margin-top: 15px;
	}
	.title-section {
		font-size: 25px;
		line-height: 30px;
	}
	.item-category_big {
		min-height: 400px;
		margin-bottom: 20px;
	}
	.form-block .btn-main {
		width: 100%;
	}
	.col-btn {
		flex: 1;
	}
	.item-form {
		margin-bottom: 20px;
	}
	.form-block .checkbox {
		margin-top: 0;
	}
	.form-block {
		padding-bottom: 35px;
	}
	.block-document .title-min {
		margin-bottom: 9px;
	}
	.block-document {
		min-height: 400px;
	}
	.block-document__image {
		margin-top: -40px;
	}
	.advantages .descr-page {
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.advantages {
		padding-top: 30px;
		padding-bottom: 19px;
	}
	.text-block {
		max-height: 340px;
		margin-bottom: 30px;
	}
	.about {
		padding-bottom: 30px;
	}
	.slider-images {
		padding-bottom: 30px;
	}
	.partners .title-section {
		padding-bottom: 25px;
	}
	.consultation .title-section {
		padding-top: 0;
	}
	.consultation {
		padding-top: 35px;
	}
	.phones-big {
		font-size: 16px;
		line-height: 22px;
	}
	.consultation .form-block {
		padding: 25px;
	}

	.image-consultation img {
		max-width: 100%;
	}
	.image-consultation {
		margin: 0;
		margin-top: 15px;
	}
	.footer-logo {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}
	.footer-logo .logo-name {
		margin: 0;
		margin-left: 15px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer-bottom {
		font-size: 13px;
		text-align: center;
		border: none;
		padding-top: 0;
		margin-top: 20px;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.btn_top {
		margin-top: -20px;
		float: none;
	}
	.footer__nav_big a,
	.footer__title {
		margin: 0;
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #000;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer__title i {
		font-size: 10px;
		margin-right: 10px;
		transition: all 0.3s;
		display: inline-block;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer-logo {
		margin-top: 0;
	}
	.footer {
		padding-top: 30px;
	}
	.location-main {
		font-size: 14px;
		margin-top: 14px;
	}
	.link-page {
		font-size: 14px;
	}
	.phone-main {
		font-size: 14px;
	}
	.footer__contacts {
		display: flex;
	}
	.footer .social-page li {
		margin-right: 0;
		margin-left: 15px;
	}
	.sandwich {
		display: flex;
	}
	.header__wrap {
		align-items: center;
	}
	.wrapper {
		padding-top: 71px;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute; 
	}
	.menu-mobile .menu {
		margin-bottom: 15px;
		display: block;
	}
	.menu > li {
		border: none;
	}
	.menu ul a,
	.menu > li > a,
	.menu a {
		padding: 10px 0;
		font-size: 14px;
		text-transform: none;
		font-weight: 600;
		border-bottom: 1px solid #000;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.menu ul {
		padding: 0;
		padding-left: 15px;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		background-color: transparent;
		display: none;
		transition: initial;
	}
	.menu ul a:hover,
	.menu > li > a:hover,
	.menu a:hover {
		color: #1393E2;
		border-color: #1393E2;
	}
	.menu ul a {
		font-size: 13px;
	}
	.menu__haschild:hover > a::after {
		transform: rotate(0deg);
	}
	.menu__haschild.active > a::after {
		transform: rotate(180deg);
	}
	.menu-mobile .contacts-wrap {
		margin-bottom: 20px;
	}
	.search-form {
		margin-bottom: 10px;
		width: 100%;
	}
	.search-form input {
		border: 1px solid #ddd;
	}
	.item-category__image img {
		object-position: top;
	}
	.row_categories > div {
		margin-bottom: 25px;
	}
	.contacts-wrap .social-page {
		margin-top: -7px;
	}
	.breadcumbs {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.item-dropdown__head {
		padding: 20px;
		height: auto;
	}
	.item-dropdown {
		margin-bottom: 25px;
	}
	.item-dropdown__content {
		padding: 0 20px;
		padding-bottom: 35px;
	}
	.contacts .title-section {
		padding-bottom: 25px;
	}
	.title-contacts:not(:first-of-type) {
		margin-top: 25px;
	}
	#map {
		height: 360px;
		margin-top: 20px;
	}
	.item-news__image {
		height: 200px;
	}
	.item-news__content {
		padding: 20px;
		padding-top: 15px;
		padding-bottom: 22px;
	}
	.news {
		padding-bottom: 60px;
	}
	.article__left p a {
		font-size: 15px;
	}
	.article__left {
		padding-bottom: 30px;
	}
	.article .news-simple, .article .item-news {
		margin-bottom: 25px;
	}
	.article {
		padding-bottom: 40px;
	}
	.table-main {
		margin-right: -20px;
		overflow: auto;
	}
	.table-main table {
		width: 700px;
	}
	.table-main::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-main::-webkit-scrollbar:vertical {
		width: 4px;
	}
	.table-main::-webkit-scrollbar:horizontal {
		height: 4px;
	}
	.table-main::-webkit-scrollbar-thumb {
		background-color: #1393E2;
		border-radius: 10px;
	}
	.table-main::-webkit-scrollbar-track {
		border-radius: 10px;
		background: #F5F5F5;
	}
	.distance-learning .item-dropdown__head {
		height: auto;
	}
	.course-direction .table-main {
		margin-bottom: 35px;
	}
	.course-direction {
		padding-bottom: 0;
	}
	.categories_page .title-section {
		max-width: 100%;
	}
	.tabs a {
		margin-bottom: 15px;
		padding: 0 25px;
		text-align: left;
		justify-content: flex-start;
	}
	.btn-tab {
		height: 71px;
		position: absolute;
		top: 0;
		color: #fff;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 25px;
	}
	.btn-tab::after {
		font-size: 12px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-family: "Font Awesome 5 Pro";
		font-weight: 500;
		content: "\f078";
		top: 0px;
		position: relative;
		transition: all 0.3s;
	}
	.btn-tab.active::after {
		transform: rotate(180deg);
	}
	.tabs {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.tabs li:not(.active) {
		display: none;
	}
	.tabs .active {
		order: -1;
		display: block;
	}
	.tabs li {
		width: 100%;
	}
	.item-dropdown_simple .item-dropdown__head {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.billbord-block .block-price {
		margin-bottom: 20px;
	}
	.about-course .link-block {
		font-size: 20px;
	}
	.program-course, .about-course {
		padding: 50px 0;
	}
	.result-course .block-document {
		margin-top: 25px;
	}
	.program-course .block-form {
		margin-top: 25px;
	}
	.section-form {
		padding-top: 60px;
		padding-bottom: 20px;
	}
	.form-block .title-min {
		margin-bottom: 30px;
	}
	.program-descr {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 15px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.form-block .checkbox {
		margin-top: 20px;
	}
	.slider-partners {
		padding: 0;
	}
	.item-partner {
		height: 120px;
	}
	.slider-partners .slick-dots {
		bottom: -30px;
	}
	.col_checkbox {
		order: 2;
	}
	.consultation .form-block .btn-main {
		margin-top: 0;
	}
	.consultation .form-block .checkbox {
		display: flex;
		justify-content: center;
	}
	.consultation .form-block .item-form {
		margin-bottom: 20px;
	}
	.bottom-billbord .row > div {
		min-height: 40px;
	}
	.item-dropdown__head {
		display: block;
	}
	.item-dropdown__title {
		font-size: 19px;
		line-height: 29px;
		margin-bottom: 15px;
		max-width: 100%;
	}
	.link-block {
		font-size: 14px;
		line-height: 21px;
	}
	.vacancies .title-section {
		padding-bottom: 20px;
	}
	.descr-form {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.title-form {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 8px;
	}
	.modal-wrap {
		padding: 40px 30px;
	}
	.contacts {
		padding-bottom: 50px;
	}
	.article time {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	.article__left img {
		margin-bottom: 20px;
	}
	.article__left p, .article__left ul li {
		margin-bottom: 10px;
	}
	.article__left h2 {
		margin-bottom: 15px;
	}
	.article__left ul {
		padding-bottom: 0;
	}
	.article__left p a {
		font-size: 14px;
	}
	.article__left h3 {
		margin-bottom: 15px;
	}
	.article__left h3, .article__left h2 {
		font-size: 16px;
		line-height: 28px;
	}
	.article__left h3 a {
		white-space: nowrap;
	}
	.article-block {
		padding-bottom: 30px;
	}
	.title-middle {
		font-size: 24px;
		line-height: 33px;
	}
	.title-small {
		font-size: 20px;
		line-height: 31px;
	}
	.about-page {
		padding-bottom: 40px;
	}
	.title-about {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.descr-min {
		font-size: 13px;
		line-height: 19px;
	}
	.card-about__descr {
		margin-bottom: 22px;
	}
	.card-about .value-contacts {
		margin-bottom: 15px;
	}
	.block-price {
		display: block;
	}
	.block-price__left {
		margin: 0;
		margin-bottom: 20px;
	}
	.billbord_page .descr-big {
		padding-bottom: 15px;
	}
	.result-course .title-section {
		margin-bottom: 20px;
	}
	.subtitle-section {
		font-size: 17px;
		line-height: 28px;
	}
	.result-course {
		padding-top: 35px;
		padding-bottom: 37px;
	}
	.result-course .block-document__image {
		margin-top: 14px;
	}
	.result-course .subtitle-section {
		margin-bottom: 20px;
	}
	.result-course__left .title-min {
		margin-bottom: 15px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 29px;
	}
	.billbord_page {
		padding-top: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider-images__image {
		height: 300px;
	}
	.text-block {
		max-height: 333px;
	}
	.item-partner {
		height: 97px;
	}
	.consultation .form-block {
		padding: 18px;
		padding-bottom: 25px;
	}
	.billbord-block .btn-main {
		width: 100%;
		padding: 0 10px;
		max-width: 300px;
	}
	.item-advantage .title-min {
		margin-bottom: 9px;
	}
	.item-dropdown__title {
		font-size: 16px;
		line-height: 26px;
	}
	.item-dropdown__content .btn-main {
		margin-top: 15px;
		min-width: initial;
		width: 100%;
	}
	.item-dropdown__content .title-min {
		margin-top: 0;
	}
	.item-dropdown__content .title-min, 
	.item-dropdown__content p {
		margin-bottom: 10px;
	}
	.fancybox-close {
		top: 10px;
		right: 10px;
		font-size: 22px;
	}
	.modal-wrap {
		padding: 40px 20px;
	}
	.item-location {
		margin-bottom: 20px;
		line-height: 20px;
	}
	.item-location__contacts p {
		margin-top: 3px;
	}
	.list-locations {
		max-height: 330px;
	}
	.contacts-block {
		padding: 20px 15px;
	}
	#map {
		height: 300px;
	}
	.item-news__image {
		height: 180px;
	}
	.page-numbers {
		font-size: 16px;
	}
	.pager {
		margin-top: 35px;
	}
	.news {
		padding-bottom: 50px;
	}
	.article-block {
		padding: 20px 15px;
		margin-top: 0;
	}
	.article {
		padding-bottom: 30px;
	}
	.block-form .btn-main {
		margin-top: 0;
	}
	.title-middle {
		font-size: 21px;
		line-height: 30px;
	}
	.about-page img {
		margin-bottom: 20px;
		border-radius: 10px;
	}
	.image-right {
		margin: 0;
		max-width: 100%;
	}
	.about-block {
		padding: 20px 15px;
	}
	.title-about {
		margin-bottom: 15px;
	}
	.item-doc {
		font-size: 14px;
		line-height: 23px;
		padding-left: 30px;
	}
	.descr-big {
		font-size: 15px;
		line-height: 28px;
	}
	.about-course .title-section {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.about-course .link-block {
		font-size: 17px;
	}
	.program-course, .about-course {
		padding: 40px 0;
	}
	.result-course .block-document__image img {
		width: 381px;
		height: 248px;
	}
	.result-course .block-document {
		max-width: 294px;
		min-height: auto;
	}
	.result-course {
		padding-bottom: 60px; 
	}
	.program-descr {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 10px;
	}
	.program-course .descr-big {
		margin-bottom: 15px;
	}
	.form-block .title-min {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.section-form ~ .categories {
		padding-bottom: 30px;
	}
	.thanks .descr-big {
		max-width: 295px;
	}
	.thanks .title-big {
		padding-bottom: 20px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.tabs li,
	.footer__content {
		display: block !important;
	}
	.menu-mobile {
		display: none !important;
	}
	.item-news_big {
		min-height: calc(100% - 20px);
		display: flex;
		flex-direction: column;
	}
	.item-news_big .item-news__image {
		height: 488px;
		width: 100%;
	}
	.item-news_big .item-news__date {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.item-news_big .item-news__text {
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.item-news_big .item-news__text p {
		margin-bottom: 15px;
	}
	.item-news_big .item-news__content {
		padding: 35px 30px;
		padding-right: 50px;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.item-news_big .link-block {
		margin-top: auto;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.item-news_big {
		min-height: calc(100% - 35px);
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
	.item-news_big .item-news__title {
		font-size: 33px;
		line-height: 47px;
		margin-bottom: 20px;
	}
	.item-news_big .item-news__date {
		font-size: 16px;
		line-height: 23px;
	}
	.item-news_big .item-news__image {
		height: 440px;
		width: 100%;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1470px;
	}
	.item-news_big .item-news__title {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 25px;
	}
	.item-news_big .item-news__date {
		font-size: 18px;
		line-height: 25px;
	}
	.item-news_big .item-news__image {
		height: 488px;
		width: 100%;
	}
}